body {
    background:aqua;
}

 .shadows-into-light-regular {
  font-family: "ShadowsIntoLight"}

  .manufacturing-consent-regular {
  font-family: "ManufacturingConsent"}

  .pt-serif-regular {
  font-family: "PTSerif"}

  .roboto-uniquifier {
  font-family: "Roboto"}

  .eagle-lake-regular {
  font-family: "Eagle Lake"}